h1 {
 
    font-family: 'Sofia', cursive;
    color: rgb(255, 0, 179);

}

.mailbox-container {
    border: 1px solid lightpink;
  }
  
  .pink-text {
    color: rgb(0, 0, 0);
  }

  h5{
    font-family: monospace;
    color: cornflowerblue; 
  }

  p{
      font-family: Georgia, 'Times New Roman', Times, serif;
        
  }