<div class="d-flex justify-content-center">
    <div class="w-50 p-3 text-center">
      <h1>Inbox</h1>
      <ul class="list-group">
        <li class="list-group-item">
          <h5>John Doe</h5>
          <p>Regarding the project update</p>
        </li>
        <li class="list-group-item">
          <h5>Jane Smith</h5>
          <p>Meeting reminder</p>
        </li>
        <li class="list-group-item">
          <h5>Mike Johnson</h5>
          <p>Invitation to the company event</p>
        </li>
      </ul>
    </div>
  
